*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#4c49dd;
} 

.login-form{
    background-color: #4c49dd;
}

.login-form form{
    background-color: #d9fcfa ;
    border: 3px solid #4c49dd;        
    height: 390px ;
    width:420px;
    border-radius: 7px;
    margin-top: 170px;
    margin-left: 460px;
}

.main-logo-res{
    margin-bottom: 15px;
}

.main-logo-res img{
    width: 250px;
    margin-left: 100px;    
    cursor: pointer;
}
.login-form input{
   width: 280px;
   height: 28px; 
   
}

.login-form input::placeholder{
   color: #3f3f3f; 
   font-family: 'Inter', sans-serif;
   margin-left: 55px;
}

.login-form input:focus{
   outline-color:  #4c49dd;
}


.login-form input[type="password"]{
    background-color: #fff;
    margin-bottom: 27px;
    margin-left: 60px;
    border: none;
    outline-color: #4c49dd;
    box-shadow: 1px 5px 5px #3f3f3f;
    padding-left: 20px;
    
}

.login-form input[type="submit"]{
    background-color: #4c49dd;
    border: none;
    margin-left: 60px;
    margin-bottom: 27px;
    color: #d9fcfa;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 25px;

}

.login-form input[type="submit"]:hover{
    background-color: #d9fcfa;
     color: #4c49dd;
     border: 1px dotted #4c49dd;
}

#login-email{
    background-color: #fff;
    margin-bottom: 27px;
    margin-left: 60px;
    border: none;
    outline-color: #4c49dd;
    box-shadow: 1px 5px 5px #3f3f3f;
    padding-left: 20px;
    margin-top: 107px;
}



